<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bus Lines</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Content-Type: text/html; charset=utf-8"/>

    <link media="screen" type="text/css" rel="stylesheet" href="/trafiklab/static/css/bootstrap.min.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="/trafiklab/static/css/jquery-ui.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="/trafiklab/static/css/index.css"/>
</head>
<body>

<div class="container-fluid p-3">
    <div id="cover" style="display: none;"></div>
    <div class="row content">

        <div class="col-sm-4 text-left" id="left-pane">
            <h4>Top 10 lines have most bus stops</h4>
            <hr>
            <div id="top-ten">
                <ul class="list-group" id="top-ten-results"></ul>
            </div>
        </div>

        <div class="col-sm-4 text-left">
            <h4>Stop names of the line who has the most stops</h4>
            <hr>
            <div id="top-ten-stopnames">
                <p id="linenumber"></p>
                <ul class="list-group" id="top-ten-stopNamesUL"></ul>
            </div>
        </div>

        <div class="col-sm-4 text-left">
            <div class="input-group mb-3">
                <input class="form-control" id="searchField" placeholder="Search stops by line number" type="text">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="search-btn" type="button">Go</button>
                </div>
                <div class="alert alert-danger" id="errorMessageDialog" style="display: none;">
                    <p id="errorMessage"></p>
                </div>
            </div>
            <div id="search-results">
                <ul class="list-group" id="stopNamesUL"></ul>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/trafiklab/static/js/jquery.js"></script>
<script src="/trafiklab/static/js/bootstrap.min.js"></script>
<script src="/trafiklab/static/js/jquery-ui.js"></script>
<script src="/trafiklab/static/js/index.js"></script>
</html>